# Bootlader
CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_PERF=y
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
CONFIG_BOOTLOADER_SKIP_VALIDATE_ON_POWER_ON=y

# System settings
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_OFFSET=0xC000

# Compiler settings
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y

# Application Level Tracing
CONFIG_APPTRACE_DEST_NONE=y
CONFIG_APPTRACE_SV_ENABLE=n

# Bluetooth settings
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_LOG_LEVEL_NONE=y
# CONFIG_BT_NIMBLE_ENABLE_CONN_REATTEMPT is not set

# Console settings
# CONFIG_ESP_CONSOLE_NONE=y #TODO cannot build when activated
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

# WiFi settings
# CONFIG_ESP_COEX_SW_COEXIST_ENABLE=n # can somehow not build if set to n
CONFIG_ESP_WIFI_STA_DISCONNECTED_PM_ENABLE=n
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n

# Ethernet
CONFIG_ETH_ENABLED=n

# FreeRTOS settings
CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y
CONFIG_FREERTOS_HZ=1000

# Heap settings
# CONFIG_HEAP_TLSF_USE_ROM_IMPL is not set

# Log settings
CONFIG_LOG_DEFAULT_LEVEL_NONE=y
CONFIG_LOG_MASTER_LEVEL=y

# LWIP settings
CONFIG_LWIP_IPV6_NUM_ADDRESSES=8
CONFIG_LWIP_MULTICAST_PING=y
CONFIG_LWIP_HOOK_IP6_ROUTE_DEFAULT=y
CONFIG_LWIP_HOOK_ND6_GET_GW_DEFAULT=y

# MBEDTLS settings
CONFIG_MBEDTLS_HKDF_C=y

# OpenThread settings
CONFIG_OPENTHREAD_ENABLED=y
# CONFIG_OPENTHREAD_LOG_LEVEL_DYNAMIC is not set
CONFIG_OPENTHREAD_LOG_LEVEL_NONE=y
# CONFIG_OPENTHREAD_CLI is not set

# SPIFFS settings
CONFIG_SPIFFS_GC_MAX_RUNS=2

# CHIP/matter settings
# CONFIG_USE_MINIMAL_MDNS is not set
CONFIG_ENABLE_CHIP_SHELL=y
CONFIG_ENABLE_OTA_REQUESTOR=y
CONFIG_ENABLE_EXTENDED_DISCOVERY=y
CONFIG_DEVICE_VENDOR_ID=0x153b
CONFIG_DEVICE_PRODUCT_ID=0x3801
CONFIG_DEVICE_TYPE=514
CONFIG_ENABLE_WIFI_STATION=n
CONFIG_ENABLE_WIFI_TELEMETRY=n
CONFIG_BLE_DEVICE_NAME_PREFIX="GE-OTA-BLE"
# CONFIG_USE_BLE_ONLY_FOR_COMMISSIONING is not set
CONFIG_ENABLE_ESP32_FACTORY_DATA_PROVIDER=y
CONFIG_ENABLE_ESP32_DEVICE_INSTANCE_INFO_PROVIDER=y
CONFIG_ENABLE_ESP32_DEVICE_INFO_PROVIDER=y
CONFIG_CHIP_ENABLE_BDX_LOG_TRANSFER=y
CONFIG_CHIP_OTA_IMAGE_BUILD=y
CONFIG_CHIP_ENABLE_EXTERNAL_PLATFORM=y
CONFIG_CHIP_EXTERNAL_PLATFORM_DIR="../../../../../../platform/GeEsp32"
CONFIG_CHIP_EXTERNAL_PLATFORM_INCLUDE_DIR="../../../../../.."
CONFIG_CHIP_FACTORY_NAMESPACE_PARTITION_LABEL="fctry"
