# Bootloader
CONFIG_BOOTLOADER_LOG_LEVEL_INFO=y

# Compiler
CONFIG_COMPILER_OPTIMIZATION_DEBUG=y
CONFIG_COMPILER_OPTIMIZATION_PERF=n
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_ENABLE=y

# Application Level Tracing
CONFIG_APPTRACE_DEST_NONE=y
CONFIG_APPTRACE_SV_ENABLE=n

# Console
CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y
CONFIG_ESP_CONSOLE_UART=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200

# Debug
CONFIG_ESP_DEBUG_STUBS_ENABLE=y

# Log
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_MAXIMUM_EQUALS_DEFAULT=y
CONFIG_LOG_COLORS=y
CONFIG_LOG_TIMESTAMP_SOURCE_RTOS=y

# Bluetooth
CONFIG_BT_NIMBLE_LOG_LEVEL_INFO=y

# Openthread
CONFIG_OPENTHREAD_LOG_LEVEL_NOTE=y
# CONFIG_OPENTHREAD_CLI is not set

# Event logging
CONFIG_EVENT_LOGGING_CRIT_BUFFER_SIZE=4096
CONFIG_EVENT_LOGGING_INFO_BUFFER_SIZE=1024
CONFIG_EVENT_LOGGING_DEBUG_BUFFER_SIZE=1024

# CHIP
CONFIG_CHIP_CONFIG_IM_PRETTY_PRINT=y

# ESP-MATTER
CONFIG_ESP_MATTER_CONSOLE_TASK_STACK=2048
CONFIG_ESP_MATTER_CONSOLE_MAX_COMMANDS=10